body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
}
img{
  width: 200px;
  height:200px;
  border-radius: 5px;
}
.container:hover img:not(:hover){
  filter:brightness(60%);
}